@import "tailwindcss";
@plugin "daisyui";

.linear-bg{
    background-image: url('/vector1.png'), linear-gradient(to right bottom, #632ee3, #743be7, #8448ea, #9255ee, #9f62f2);
    background-repeat: no-repeat;
    /* transform: scaleX(-1); */
}

.linear-bg-2{
    background-image: url("vector1.png"), linear-gradient(to top, #00827a, #00967f, #00aa7d, #29bd75, #54cf68); 
    background-repeat: no-repeat;
}